<div class="container">
  <div class="row">
    <div class="col-6">
    
    </div>
    <div class="col-6">
      <%= @developer.user.name %>
      <%= @developer.user.address %>
      <%= @developer.user.email %>
      <%= @developer.user.phone %>
      <% unless current_user.project_owner.nil? %>
        <%=link_to "MENSAGEM ", find_chatroom_and_redirect_path(developer_id: @developer), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <% raise %>
</div>