<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div id="map" style="width: 100%; height: 50vh; border-radius: 10px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"> </div>
      <% unless current_user.project_owner.nil? %>
        <%=link_to "MENSAGEM ", find_chatroom_and_redirect_path(developer_id: @developer), class: 'btn btn-secundario w-100 mt-2' %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12">
      <h1> <%= @developer.user.name %> </h1>
      <h2> <%= @developer.user.address %> </h2>
      <h3> <%= @developer.user.email %> </h3>
      <h3> <%= @developer.user.phone %> </h3>
    </div>
  </div>
  <hr class="my-5">
  <div class="row mb-5">
    <div class="col-12 text-center">
      <h3 class="pb-3">More Projects from this developer</h3>
    </div>
    <% @developer.portifolios.each do |port| %>
      <div class="col-4">
        <div class="card-projetos">
          <% if port.photo.attached? %>
            <div class="card-body p-0" style="">
              <%= cl_image_tag port.photo.key, class: "img-fluid", crop: :fill %>
            </div>
          <% end %>
          <div class="card-footer">
            <a href="<%= port.link %>" target="_blank" rel="noopener noreferrer">
              <h2 class="text-light"><%= port.title %></h2>
            </a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  
</div>