<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <div id="map" style="width: 100%; height: 50vh; border-radius: 10px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"> </div>
    </div>
    <div class="col-6">
      <%= @developer.user.name %>
      <%= @developer.user.address %>
      <%= @developer.user.email %>
      <%= @developer.user.phone %>
      <% unless current_user.project_owner.nil? %>
        <%=link_to "MENSAGEM ", find_chatroom_and_redirect_path(developer_id: @developer), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <% @developer.portifolios.each do |port| %>
    <div class="col-4 mt-4">
      <% if current_user.photo.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= port.photo.key %>)">
      <% end %>
        <%= port.title %>
  
      </div>
    </div>
  <% end %>
  
</div>