<div class="container-fluid">
  <div class="row">
    <div class="col-12 mapa-index ">
      <div id="map" style="height: calc(50vh - 57px); width: 100% " data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 p-0">
      <h1 class="text-center pt-3">Projects</h1>
      <div class="row justify-content-center m-0">
        <div class="col-lg-8 col-md-12 form-mapa my-1">
          <%= form_tag projects_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a project"
            %>
            <%= submit_tag "Search", class: "btn btn-principal" %>
          <% end %>
        </div>
      </div>
      <div class="row m-0" id="projects">
        <% @projects.each do |project| %>
          <div class="col-lg-6 col-md-12">
            <div class="card-projetos my-1">
              <div class="card-body">
                <p><%= project.title %></p>
                <p><%= project.address %></p>
                <p><%= project.description %></p>
              </div>
              <div class="card-footer">
                <h2><%= link_to project.title, project %></h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to 'New project', new_project_url, class: 'btn-principal btn-projeto' %>
    </div>
  </div>
</div>