<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create a new project</h1>
      <%= simple_form_for @project do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.button :submit, class: 'btn btn-principal w-100' %>
      <% end %>
    </div>
  </div>
</div>