<div class="container-fluid">
  <div class="row py-3 justify-content-center">
    <div class="col-3">
      <div class="card card-user">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: :thumb %>
        <% else %>
          <%= image_tag "profile.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="card-body text-center">
          <ul class="list-group pb-3">
            <li class="list-group-item">
              <%= current_user.name %>
            </li>
            <li class="list-group-item">
              <%= current_user.nickname %>
            </li>
            <li class="list-group-item">
              <%= current_user.address %>
            </li>
            <li class="list-group-item">
              <%= current_user.role %>
            </li>
            <li class="list-group-item">
              <%= link_to "Portifólio", " /portifolios", class: 'btn btn-secundario' %>
            </li>
          </ul>
          <%= link_to 'Edit', "/users/edit", class: 'btn-principal my-4 px-5' %>
        </div>
      </div>
      <div class="portifolio">
        
      </div>
    </div>
    <div class="col-6">
      <div id="map" style="width: 100%; height: 50vh; border-radius: 10px;" data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="row justify-content-center">
        <div class="col-12 pt-3">
          <%= form_tag projects_path, method: :get do %>
            <div class="form-group d-flex">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control py-4",
              placeholder: "Find a project"
              %>
              <%= submit_tag "Search", class: "btn btn-principal" %>
            </div>
          <% end %>
        </div>

        <% @projects.each do |project| %>
          <% if current_user.role == "Project Owner" %>
            <% if current_user.id == project.project_owner.user.id %>
              <div class="col-12">
                <div class="card-projetos">
                  <div class="card-body">
                    <p><%= project.title %></p>
                    <p><%= project.address %></p>
                    <p><%= project.description %></p>
                  </div>
                  <div class="card-footer">
                    <h2><%= link_to project.title, project %></h2>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <% if current_user.id == project.project_owner.user.id %>
              <div class="col-12">
                <div class="card-projetos">
                  <div class="card-body">
                    <p><%= project.title %></p>
                    <p><%= project.address %></p>
                    <p><%= project.description %></p>
                  </div>
                  <div class="card-footer">
                    <h2><%= link_to project.title, project %></h2>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
